<p>
  <b>Title:</b>
  <%=h @snippet.title %>
</p>
<p>
  <b>Descripcion:</b>
  <%=h @snippet.descripcion %>
</p>
<p>
    <div class="ex1">
		<strong>Lenguaje</strong>
		<%=h Lenguaje.find(@snippet.lenguaje).nombre %>
	</div>
	<div class="ex1">
		<b>Tags:</b>
  		<%
		tags=@snippet.tag_list
		%>
		<% tags.each do |tag| %>
			<%=link_to tag, "/snippets/tags/"+tag.to_s %>
		<% end %>
	
	</div>
</p>

<p>
  <b>Codigo:</b>
  <% harsh :theme => :blackboard, :lines=>true, :format=>Lenguaje.find(@snippet.lenguaje).nombre.downcase do  %>
	<%= @snippet.codigo %>
	
	<% end %>
</p>





<p>
	<br />
	<br />
<% if user_signed_in? %>
	<% if current_user.username ==  User.find(@snippet.id_user).username %>
		<%= link_to 'Editar', edit_snippet_path(@snippet) %> |
		<%= link_to 'Borrar', snippet_path(@snippet), :confirm => "Seguro?", :method => :delete %>

	<% end %>
<% end %>

<%= link_to 'Volver', snippets_path %>
</p>
